<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>340030066922-8vnusavdgmlp3m7ln5p5b5dmaioh1r28.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.340030066922-8vnusavdgmlp3m7ln5p5b5dmaioh1r28</string>
	<key>API_KEY</key>
	<string>AIzaSyA5efFA_O3X81y49SL5tcJAGKwKWE8Quko</string>
	<key>GCM_SENDER_ID</key>
	<string>340030066922</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kalikans.FacebookLoginOneMoreTime</string>
	<key>PROJECT_ID</key>
	<string>facebookloginonemoretime</string>
	<key>STORAGE_BUCKET</key>
	<string>facebookloginonemoretime.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:340030066922:ios:8c0589140aea6384</string>
	<key>DATABASE_URL</key>
	<string>https://facebookloginonemoretime.firebaseio.com</string>
</dict>
</plist>
